.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #f5f5f5;
}

.header__logo {
    color: #726250;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 15px 0;
}


.contact-form__heading {
    color: #726250;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #f5f5f5;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #f5f5f5;
    background-color: #9d896c;
    color: #fff;
}

.confirm-table__text {
    color: #726250;
    padding: 15px;
    border-bottom: 1px solid #f5f5f5;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.form__button-submit {
    margin: 0;
    padding: 10px;
    width: 10%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #726250;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}


.form__button-correct {
    display: flex;
    margin: 0;
    color: #726250;
}