.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #f5f5f5;
}

.header__logo {
    color: #726250;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 15px 0;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-nav__item {
    background-color: #e9e4d4;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-nav__link {
    display: flex;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #e9e4d4;
    margin-bottom: 80px;
}

.register-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #726250;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid #9d896c;
    padding: 30px 45px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 50px;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    color: #726250;
    margin-bottom: 5px;
    margin-left: 60px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 75%;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    color: #9d896c;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #726250;
    color: #fff;
    cursor: pointer;
}

