.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #726250;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    color: #726250;
    margin-bottom: 40px;
    text-align: center;
}